

.topBar
{
    padding-top: 10px;;
    padding-bottom: 10px;;
    background-color: rgb(255, 75, 43);
    display: flex;
    justify-content: space-between;
    color:white;
}
.container{
    padding-left: 20px;
    padding-right:20px;
}
body{
    margin:0px;
    padding:0px;
    font-size: small;

}
.flex
{
    display: flex;
    column-gap: 10px;
}


.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(4, 27, 90, 0.1);
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f44336;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

  }
  
  .nav-links li a {
    text-decoration: none;
    color:orangered;
    font-weight: 600;
  }
  
  .hero {
    background: url("../images/school.avif") no-repeat center center/cover;
    min-height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*padding: 0 20px;*/
    position: relative;
   padding-top: -10px;
    background-color: #e0e0e0; /* fallback */
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .hero-content p {
    max-width: 600px;
    margin: 0 auto 20px;
    color: #ddd;
  }
  
  .hero-content button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }


  
.services1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
  padding-bottom: 10px;
}

.abc1 {
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bold;
  color: white;
  background-color: #ff5733;
  padding-bottom: 15px;
}

.ui {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1px;
  padding-top: 20px;
 
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.ui img {
  height: 200px;
  width: 200px;
  padding-bottom: 10px;
  border-radius: 0px;

}

.ui .ab4 {
  padding-bottom: 30px;
}

.ui input {
  background-color: white;
  color: midnightblue;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px gray;

      text-transform: capitalize;
}

.but {
  padding-bottom: 15px;
 

}

.ses5{
  padding-top: 20px;
  
}
  